/* body{
    
    background: linear-gradient(
        rgba(76, 79, 80, 0.45), 
        rgba(80, 86, 87, 0.45)
      ), url('https://images.unsplash.com/29/cloudy-hills.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8a854b44df5f1f05197469dae9bfb85&auto=format&fit=crop&w=750&q=80')  ;
    background-size: cover;
} */
@import url("https://fonts.googleapis.com/css?family=Courgette");
:root {
  --blue: #08d9d6;
  --grey: #eaeaea;
}
body {
  background: #252a34;
}
h1 {
  color: #ff2e63;
}
.card-panel {
  color: #252a34;
}
#quote {
  font-family: "Courgette", cursive;
}
.share-icons i {
  padding: 0 1rem !important;
  color: #08d9d6;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
